<body>
  <h1>Bookshelf</h1>
  <main class="container">
    <div class="indexPage">
      <ul style="list-style-type:none">
        <div class="row">
          <% books.forEach(book => { %>
            <div class="col-md-4 col-s-6">
            <li><a href="/books/<%= book._id %>"><%= book.author %><br>
            <img src="<%= book.image %>" alt="<%= book.title %>'s image" class="bookImage"></a></li>
            </div>
            <% }); %>
          </div>
        </ul>
      </div>
    </main>
  </body>
