<body>
  <h1>Add New Book</h1>
  <main class="container">
    <form method="post" action="/books">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" name="author">
      </div>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <input type="text" class="form-control" id="genre" name="genre">
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="text" class="form-control" id="image" name="image">
      </div>
      <div class="form-group">
        <label for="link">Link:</label>
        <input type="text" class="form-control" id="link" name="link">
      </div>

      <input type="Submit" value="Submit" class="btn btn-default">
    </form>
  </main>
</body>
