<h1>Add New Book</h1>

<form method="post" class="" action="/books" >
  <label for="title">Title</label>
  <input type="text" id="title" name="title">

  <label for="author">Author</label>
  <input type="text" id="author" name="author">

  <label for="genre">Genre</label>
  <input type="text" id="genre" name="genre">

  <label for="image">Image</label>
  <input type="text" id="image" name="image">

  <label for="link">Link</label>
  <input type="text" id="link" name="link">

</form>
