<h1>Register</h1>

<% if(locals.message) { %>
  <p><%= message %></p>
<% } %>

<form method="post" action="/register">

  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" id="passwordConfirmation">

  <input type="Submit" name="Submit" value="Submit">

</form>
