<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <%# this needs to be after bootstrap links so bootstrap doesn't reset it%>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/client.js" charset="utf-8"></script>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if (locals.isLoggedIn) { %>
          <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/books/new">Add Book</a>
          </li>
          <a class="nav-link" href="/books">View Books</a>
          <li class="nav-item">
          <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
          </li>
          </li>
          <% } else{ %>
            <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/books">View Books</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
            </li>
            <% } %>
          </ul>
          <div class="icons">
            <a href="#"><img src="../images/twitter-32-icon.png" alt="Twitter icon"></a>
            <a href="#"><img src="../images/instagram-32-icon.png" alt="Instagram icon"></a>
            <a href="#"><img src="../images/fb-32-icon.png" alt="Youtube icon"></a>
            <a href="#"><img src="../images/youtube-32-icon.png" alt="Youtube icon"></a>
            <a href="#"><img src="../images/wordpress-32-icon.png" alt="Youtube icon"></a>
          </div>
      </div>
    </nav>

    <main class="container">
      <% for (const type in messages) { %>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
        <% } %>

        <%- body %>
      </main>
    </body>
    <footer class="pageFooter">
        <p>WDI Project 2 - Made with &hearts; by Marisa</p>
    </footer>
    </html>
