<body class>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="home-head">Storyline</h1>
        <h2 class="home-head">a resource for readers</h2>
      </div>

    </div>
  </div>
  <main class="container">
    <div class>
      <div class="row">
        <div class="col-md-6">
          <img class="homeImage" src="https://s-media-cache-ak0.pinimg.com/736x/eb/6e/b9/eb6eb9291404dbbd17e691689df5edd8.jpg" alt="flowers and books">
        </div>
        <div class="col-md-6">
          <blockquoute class="blockquote-reverse">
            <p class="quote">'No two persons ever reads the same book.' </p>
            <footer class="author">Edmund Wilson<cite title="Source Title"></cite></footer>
          </blockquote>
          <div class="row">
            <div class="homePageBook">
              <h3>What we're currently reading:</h3>
              <ul style="list-style-type:none">
                <li id="curentBook"><a href="https://www.amazon.co.uk/Know-Why-Caged-Bird-Sings/dp/086068511X/ref=asap_bc?ie=UTF8" target="_blank">I Know Why The Caged Bird Sings</a></li>
                <li id="currentAuthor">Maya Angelou</li>
              </ul>
              <a href="https://www.amazon.co.uk/Know-Why-Caged-Bird-Sings/dp/086068511X/ref=asap_bc?ie=UTF8" target="_blank">
              <img class="bookImage" src="http://ecx.images-amazon.com/images/I/91JtNygE31L._SL1500_.jpg" alt="current book image"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
